torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
pytorch-lightning==1.8.3
wandb==0.12.10
transformers==4.28.0
easydict==1.10
biopython==1.81
scipy==1.14.1
peft==0.10.0
lmdb==1.4.1
torchmetrics==0.9.3
pandas==2.1.1
fair-esm==2.0.0
numpy==1.25.2
protobuf<4,>=3.20.0